/* Root and General Layout */
#root {
  max-width: 1280px;
  margin: auto;
  margin-right: 20%;
  padding: 2rem;
  text-align: center;
  background-color: rgb(225, 234, 241);
  /* Ensures consistent app background */
}

.App {
  display: flex;
  padding: 20px;
  background-color: rgb(225, 234, 241);
}

.App main {
  margin-left: 260px;
  padding: 20px;
  background-color: rgb(225, 234, 241);
}

/* Text colors and styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363b81;
  /* Dark blue for headers */
}

p,
li,
div,
span {
  color: #505565;
  /* Softer gray for body text */
}

/* Layout adjustments */
.dashboard,
.about {
  background-color: rgb(225, 234, 241);
  border-radius: 20px;
  padding: 20px;
}

.about {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}

.dashboard {
  margin-left: 25%;

}

/* Interactive elements */
a,
.button-primary {
  color: #ffffff;
  background-color: #fbd743;
  /* Bright yellow for primary buttons */
  border-radius: 5px;
}


.button-secondary {
  color: #ffffff;
  background-color: #5db9ff;
  /* Sky blue for secondary buttons */
}

.button-tertiary {
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: #3c3c3d;
}
/* 545456 */
.error,
.warning {
  color: #ff1f1f;
  /* Bright red for errors and warnings */
}

.distribution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
}

.distribution h1 {
  margin-left: 10px;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 4rem;
  color: rgb(60, 60, 61);
}


.pokemon-dashboard-list {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  ;
  width: max-content;
  padding: 20px;
  border-radius: 20px;
}

.pokemon-list-filters {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.pokemon-list-filters button {
  margin-right: 5px;
}

.pokemon-list-filters button:active {
  background-color: grey;

}

.pokemon-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Creates two columns */
  gap: 10px;
  /* Sets the gap between grid items */
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;

}

.empty-state img {
  margin: 50px;
  /* Set the image to be semi-transparent */
  opacity: 0.45;
  /* 50% transparent, adjust the value as needed */
  /* Set the image to grayscale */
  filter: grayscale(75%);
}

.empty-state h2 {
  font-family: 'Pokemon Classic';
  color: rgb(60, 60, 61, 0.6);
}

.empty-state p {
  font-family: 'Pokemon Classic';
  font-size: 0.6em;
  color: rgb(60, 60, 61, 0.6);
}
